/* ----- google font "Montserrat" ----- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ----- root styling ----- */
:root {
    /* ----- color ----- */
    --color-01: #FFFFFF;
    --color-02: #242424;
    --color-03: #3D85B8;
    --color-04: #B31B38;
    --color-05: #006B38;
    --color-07: #444444;
}

/* ----- base styling ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 100%;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

/* ----- custom styling ----- */
.title {
    font-weight: 700;
    padding: 0.5vw 0;
    letter-spacing: 0.1rem !important;
    text-transform: uppercase;
}

.title span {
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
}

.btn {
    font-weight: 400;
    padding: 0.8rem 1.2rem;
    color: var(--color-01);
    letter-spacing: 0.01rem;
    text-transform: uppercase;
}

.sub-title {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--color-07);
    line-height: 2;
    text-transform: uppercase;
}

.contact {
    background: var(--color-05);
}

/* ----- preloader section styling ----- */
section.preloader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-01);
}

section.preloader h6 {
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    color: var(--color-07);
}

section.preloader img {
    width: 5rem;
}

/* ----- header section styling ----- */
header.header {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
}

header.header.scroll {
    position: absolute;
}

/* header nav icon */
header.header .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--color-02);
}

header.header .row .col {
    display: flex;
}

header.header .row .col:first-child {
    justify-content: left;
}

header.header .row .col:last-child {
    justify-content: right;
}

header.header .row .nav-icon {
    font-size: 0.9rem;
    margin-right: 1rem;
    color: var(--color-01);
    text-transform: uppercase;
}

header.header .row .col #timeDiv.open {
    color: var(--color-05);
    font-weight: 600 !important;
}

header.header .row .col #timeDiv.closed {
    color: var(--color-04);
}

#timeDiv,
#MyClockDisplay {
    font-weight: 600;
    text-transform: uppercase;
}

#MyClockDisplay {
    margin-right: 0.35rem;
    margin-top: 0.09rem;
}

/* header nav section */
nav.navbar {
    background: var(--color-01);
}

nav.navbar,
header.header .row {
    padding: 0.5vw 10vw;
}

nav.navbar .navbar-toggler {
    margin: 0;
    padding: 0;
    border: 0px;
    font-size: 2rem;
    color: var(--color-02);
}

nav.navbar .navbar-brand img {
    max-width: 80px;
}

nav.navbar .nav-link,
nav.navbar .dropdown-item {
    font-size: 1rem;
    font-weight: 600;
    /* letter-spacing: 0.1rem; */
    text-transform: uppercase;
}

nav.navbar .navbar-collapse {
    padding-top: 1rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

/* ----- home section styling ----- */
section.home {
    position: relative;
    background: var(--color-01);
}

section.home .carousel-item {
    min-height: 70vh;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

section.home .carousel-item::before {
    top: 0;
    left: 0;
    content: '';
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
}

section.home .carousel-item .container-fluid {
    top: 50%;
    left: 50%;
    position: absolute;
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

section.home .carousel-item .title,
section.home .carousel-item .title span,
section.home .carousel-item .sub-title {
    color: var(--color-01) !important;
    z-index: 99;
}

/* ----- home counter section styling ----- */
section.home .container-fluid .row {
    align-items: center;
    justify-content: center;
}

.counter {
    padding: 2rem 0;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--color-01);
    transform: translate(0%, -25%);
    -webkit-transform: translate(0%, -25%);
    -moz-transform: translate(0%, -25%);
    -ms-transform: translate(0%, -25%);
    -o-transform: translate(0%, -25%);
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
}

section.home .container-fluid .row .counter:first-child {
    border-top-left-radius: 0.5vw;
}

section.home .container-fluid .row .counter:last-child {
    border-top-right-radius: 0.5vw;
}

section.home .container-fluid .row .counter .data {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-05);
}

section.home .container-fluid .row .counter span.sub-title {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--color-07);
    text-transform: uppercase;
}

section.home .container-fluid .row .counter i {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--color-07);
}

.carousel-item:nth-child(1) {
    background-image: url(../img/bg-img-02.jpg);
}

.carousel-item:nth-child(2) {
    background-image: url(../img/bg-img-04.jpg);
}

.carousel-item:nth-child(3) {
    background-image: url(../img/bg-img-05.jpg);
}

/* ----- about section ----- */
section.about {
    margin: 0;
    background: var(--color-01);
}

section.about .row {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* ------------------------------------------------------------------------------ */
section.about .row:last-child {
    width: 100%;
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.service-box {
    padding: 1rem;
    margin: 2rem;
    text-align: center;
    border-radius: 0.5vw;
    color: var(--color-02);
    transition: all 0.3s ease 0s;
    -webkit-border-radius: 0.5vw;
    -moz-border-radius: 0.5vw;
    -ms-border-radius: 0.5vw;
    -o-border-radius: 0.5vw;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.service-box:hover {
    background: var(--color-05) !important;
}

.service-box .service-icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    font-size: 35px;
    background: #fff;
    line-height: 70px;
    border-radius: 100%;
    transform: translateY(0);
    transition: all 0.3s ease 0s;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.service-box:hover .service-icon {
    transform: translateY(-100%);
}

.service-box .service-icon i {
    color: var(--color-07);
    transition: all 600ms cubic-bezier(0.5, -0.5, 0.2, 1.5) 0s;
    -webkit-transition: all 600ms cubic-bezier(0.5, -0.5, 0.2, 1.5) 0s;
    -moz-transition: all 600ms cubic-bezier(0.5, -0.5, 0.2, 1.5) 0s;
    -ms-transition: all 600ms cubic-bezier(0.5, -0.5, 0.2, 1.5) 0s;
    -o-transition: all 600ms cubic-bezier(0.5, -0.5, 0.2, 1.5) 0s;
}

.service-box:hover .service-icon i {
    color: var(--color-05) !important;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.service-box h5 {
    position: relative;
    top: 40px;
    margin: 0;
    color: var(--color-02);
    text-transform: uppercase;
    transform: translateY(0%);
    transition: all 600ms cubic-bezier(0.5, -0.5, 0.2, 1.5) 0s;
    -webkit-transition: all 600ms cubic-bezier(0.5, -0.5, 0.2, 1.5) 0s;
    -moz-transition: all 600ms cubic-bezier(0.5, -0.5, 0.2, 1.5) 0s;
    -ms-transition: all 600ms cubic-bezier(0.5, -0.5, 0.2, 1.5) 0s;
    -o-transition: all 600ms cubic-bezier(0.5, -0.5, 0.2, 1.5) 0s;
}

.service-box:hover h5 {
    top: -40px;
    color: var(--color-01) !important;
}

.service-box p {
    color: #fff;
    margin: 0;
    opacity: 0;
    font-size: 0.8rem;
    transition: all 0.3s linear 0s;
}

.service-box:hover p {
    opacity: 1;
}

/* ----- contact information section ----- */
section.contact {
    position: relative;
    background: var(--color-01);
}

section.contact .container-fluid {
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
}

section.contact .container-fluid .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    background: transparent;
}

section.contact .row .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    text-align: left !important;
}

section.contact .row .contact-info {
    width: 100%;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0.5rem 0;
    color: var(--color-02);
}

section.contact .row .col-lg-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.contact .contact-bg {
    background: url("../img/bg-img-01.jpg");
}

section.contact .contact-bg::before {
    top: 0;
    left: 0;
    content: '';
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
}

/* ----- review section ----- */
section.review {
    /* padding: 1vw 0; */
    background: var(--color-01);
}

section.review .owl-carousel {
    padding: 3vw 0;
}

section.review .owl-item .card {
    height: 18rem;
}

section.review .card .sub-title {
    text-transform: none !important;
}

section.review div.item {
    width: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----- footer section ----- */
footer p {
    font-size: 0.8rem;
}

footer a {
    color: var(--color-01);
}

/* -------------------------------------------------- about page -------------------------------------------------- */
section.about-home {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url("../img/bg-img-04.jpg");
}

section.about-home::before {
    top: 0;
    left: 0;
    content: '';
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}

section.about-content .sub-title {
    font-size: 0.9rem;
    text-transform: none;
}

section.about-home .container-xxl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.about-home h1 {
    z-index: 1;
    color: var(--color-01);
}

section.about-content {
    padding: 10vw;
}

section.about-content img {
    max-width: 100%;
}

section.about-content .counter {
    margin: 2%;
    margin-top: 10vw;
    padding: 2%;
}

section.about-content i {
    font-size: 2.5rem;
    margin: 5%;
}

section.about-content div.data {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

section.about-content span {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

section.about-content .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.about-content .card-body a,
section.about-content .card-body i {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-02);
}

section.about-content .card-body a:hover,
section.about-content .card-body a:hover i {
    color: var(--color-05);
}

footer {
    padding: 1rem;
}

/* -------------------------------------------------- staff section -------------------------------------------------- */
.staff-container {
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* -------------------------------------------------- mobile query -------------------------------------------------- */

/* ----- max-width 991px ----- */
@media (max-width: 991px) {

    /* ----- header navigation ----- */
    header.header {
        top: 0;
        left: 0;
        width: 100%;
        position: fixed;
    }

    header.header .row .nav-icon {
        font-size: 1rem !important;
    }

    header.header .row .nav-icon span {
        display: none !important;
    }

    nav.navbar,
    header.header .row {
        padding: 0.5vw 2vw !important;
    }

    nav.navbar .nav-link,
    nav.navbar .dropdown-item {
        font-weight: 650;
        padding: 2%;
    }

    nav.navbar .navbar-collapse {
        padding-bottom: 1rem;
        padding-top: 2rem;
    }

    /* ----- home section ----- */
    section.home .carousel-item .container-fluid .col-lg-4 {
        padding-top: 50%;
    }

    section.home .carousel button {
        display: none !important;
    }

    /* ----- about section ----- */
    section.about {
        padding-top: 2rem;
    }

    .counter {
        padding: 0 !important;
        padding-top: 2rem !important;
    }

    section.about .title,
    section.about .sub-title {
        text-align: left !important;
    }

    .service-box {
        margin-bottom: 2rem;
    }

}